.profile__avatar-edit-button {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url('../../../images/svg/edit-avatar.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0s, opacity 0.5s ease-in-out;
}

.profile__avatar:hover + .profile__avatar-edit-button {
  visibility: visible;
  opacity: 1;
}

/* .profile__avatar-container:hover + .profile__avatar-edit-button {
  visibility: visible;
} */
