.page {
  background-color: #000000;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
    max-width: 880px;
    margin: auto;
    border: solid red 1px;
}

.header {
    display: flex;
    justify-content: flex-start;
    padding: 45px 0 41px;
    border-bottom: solid #545454 1px;
}

.logo {
    width: 173px;
}