.popup__container_type_preview {
  background-color: transparent;
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 0;
  display: flex;
}

@media screen and (max-width: 600px) {
  .popup__container_type_preview {
    max-width: 91%;
  }
}
