.profile__about {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 800px) {
  .profile__about {
    max-width: 70%;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}
