.logo {
  width: 173px;
}

@media screen and (max-width: 900px) {
  .logo {
    padding-left: 19px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    padding-left: 27px;
    width: 126px;
  }
}
